+72
-6
Original file line number	Diff line number	Diff line change
@@ -8,9 +8,6 @@
 }

 :root {
     --bg-body: #C5E4E7;
     --bg-main: #FFF;
 
     font-size: 62.5%;
     --jagged-ice: #C5E4E7;
     --white: #FFF;
@@ -19,10 +16,10 @@
     --topaz: #26C2AE;
     --regent-grey: #7F9D9F;
     --squeeze: #F3F9FA;
     --beetle-green: #547878;
 }

 body {
     background: var(--bg-body);
     font-size: 1.6rem;
     background: var(--jagged-ice);
 }
@@ -36,7 +33,6 @@
 }

 main {
     background: var(--bg-main);
     background: var(--white);
     padding: 3.2rem 2.4rem;

@@ -46,12 +42,82 @@
 .info {
     padding-inline: 0.8rem;

     div {
         margin-bottom: 3.2rem;
     }
 
     strong {
         color: var(--greyish-turquoise);
     }

     .input-box {
         margin-top: .6rem;
         background-color: var(--squeeze);
         display: flex;
         align-items: center;
         padding: .6rem 1.8rem;
         border-radius: .5rem;
 
         input {
             border: none;
             background: transparent;
             text-align: right;
             width: 100%;
             font-size: 2.4rem;
             outline: none;
             font-weight: 700;
             color: var(--sherpa-blue);
         }
 
         input::placeholder {
             color: var(--sherpa-blue);
             opacity: 0.35;
         }
 
         &:has(input:focus){
             outline: 2px solid var(--topaz);
         }
     }
 }
 
     .tip {
         div{
             margin-top: 1.6rem;
             display: grid;
             grid-template-columns: repeat(2, 1fr);
             gap: 1.6rem;
 
             button {
                 font-size: 2.4rem;
                 background: var(--sherpa-blue);
                 color: var(--white);
                 font-weight: 700;
                 border: none;
                 padding-block: .6rem;
                 border-radius: .5rem;
             }
             
             input {
                 width: 100%;
                 font-size: 2.4rem;
                 text-align: center;
                 border: none;
                 background: var(--squeeze);
                 border-radius: .5rem;
                 padding-block: .6rem;
                 font-weight: 700;
                 color: var(--sherpa-blue);
                 
                 &::placeholder {
                     color: var(--beetle-green);
                 }
 
                 &:focus {
                     outline: 2px solid var(--topaz);
                 }
             }
         }
 
     }
 }